*{
    margin: 0;
    padding: 0;
}
h1{
    min-width:280px;
    text-align:center;
    margin-top:50px;
}
#game{
    margin:auto;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: block;
    width: 500px;
    height: 200px;
    border: 1px solid black;
    overflow: hidden;
}
#personagem{
    width: 20px;
    height: 50px;
    background-image: url(../imagens/avião.png);
    background-color:red;
    position: relative;
    top: 150px;
    
}

.animar{
    animation: personagem 500ms infinite;
}
@keyframes personagem{
    0%{top: 150px;}
    30% {top: 100px;}
    70% {top: 100px;}
    100% {top: 150px;}

}
#quadrado{
    width: 30px;
    height: 110px;
    background-image: url(../imagens/torre-gemea.png);
    background-color:blue;
    background-size:contain;
    position: relative;
    top: 110px;
    left: 480px;
    animation: quadrado 1s infinite linear;
    animation-delay: 1s;

}
@keyframes quadrado{
    0%{left: 480px;}
    100% {left: -40px;}
}